:root {
    --background-color: #D6E5E3;
    --light-color: #CACFD6;
    --med-color:#3d2c88;
    --dark-color: #424874;  
    --link-color: #A6B1E1;
}
    h1 {
    color:cornflowerblue;
    font-family: "DM Serif Display", serif;
    font-size: 2.5em;
}

p {
    font-family: "TASA Explorer", sans-serif;
    font-size: 20px;
    color: var(--med-color);
}

main {
    position: relative;
    max-width: 1080px;
    margin: 0 auto;
}

#head {
    display: flex;
    justify-content: space-between;
}

#head h3, a {
    color: var(--dark-color);
    text-decoration: none;
    font-family: "DM Serif Display", sans-serif;
}

/* our post class */
.post {
    border: 1px solid var(--dark-color);
    margin-bottom: 1em;
    padding: .5em 1em;
    img {
        width: 100%;
        height: auto;
        display: block;
    }
    a {
        color: var(--med-color);
        background-color: var(--light-color);
        text-decoration: none;
        padding: 10px;
        border-radius: 10%;
        font-family: "TASA Explorer", sans-serif;
    }
    a:hover {
        text-decoration: underline;
    }
    h2 {
        color: var(--dark-color);
        font-family: "DM Serif Display", serif;
    }
}

footer {
    text-align:center;
    justify-content: center;
}